/* written by leevayle@protonmail.com */
html, body {
    height: 100%;
    margin: 0;
    background-color: rgb(0, 0, 0);
}
body {
    display: flex;
    background-color: rgb(0, 0, 0);
}
*{transition: ease-in-out 2s;}
.leenxlogo{
    min-width: 90px;
    min-height: 90px;
    display: flex;
    margin: auto;
    opacity: 0;
    background-image: url(../images/icons/icon.png);
    background-size: cover;
    background-position: center;
}