body,html{
    margin: 0;
    font-family: 'century gothic',sans-serif;
    display: flex;
    margin: auto;
    height: 100%;
    width: 100%;
    max-height: 100vh;
    max-width: 100vw;
    overflow: hidden;
}
*{
    transition: all ease-in 0.2s !important;
}

.leftnav{
    height: 99.5%;
    width: 14%;
    min-width: 80px;
    display: block;
    max-height: 99.8%;
    overflow: hidden;
    scrollbar-width: thin;
}

.nav-item, .nav-item-last{
    width: 90%;
    margin-bottom: 15px;
    height: auto;
    min-height: 35px;    
    border-radius: 7px;
    font-size: 15px;
    padding-right: 5px;

}
.nav-icon{
    height: 90%;
    margin-left: 10px;
    max-height: 25px;
    width: 20%;
    max-width: 25px;
    margin-top: auto;
    margin-bottom: auto;
}
.nav-name{
    margin: auto;
    margin-left: 10px;
}

.main{
    height: 99.5%;
    width: 86%;
    max-height: 99.6%;
}

.toplogo{
    height: 50px;
    width: 100%;
}
/* #logo-left{
    margin: auto;
} */

.navcont {
    height: auto;
    overflow-x: hidden;
    overflow-y: auto;
    min-height: 50%;
    max-height: 91%;
    padding-top: 40px;

}

.navcont::-webkit-scrollbar {
    width: 1px;
    
}

.navcont::-webkit-scrollbar-thumb {
    border-radius: 10px;
}


.head-nav{
    width: 99%;
    height: 50px;
    padding-left: 20px;
}

.main-cont{
    width: 100%;
    height: auto;
    overflow-x: hidden;
    overflow-y: auto;
    max-height: 92%;
}
.main-cont::-webkit-scrollbar {
    width: 3px; /* Set a specific width for the scrollbar */
}



.logo-left{
    width: 35px;
    height: 35px;
    margin-top: 10px;
    margin-left: 15px;
}

.collapse{
    width: 15px;
    height: 15px;
    margin-top: 20px;
    margin-left: auto;
    margin-right: 17px;
    transition: 0.2s ease-in-out;
}
.collapse:hover{
    cursor: pointer;
}


.menubtnleft{
    width: 50px;
    height: 65%;
    margin-right: auto;
    margin-top: auto;
    margin-bottom: auto;
}
.menubtnleft:hover{
    cursor: pointer;
}
.search{
    width: 60%;
    height: 90%;
    margin-right: auto;
    margin-top: auto;
    margin-bottom: auto;
}
.searchbtn{
    height: 50%;
    margin-right: 0px;
}
.searchinput{
    width: 90%;
    height: 70%;
    text-align: left;
}
.search-field{
    background:transparent;
    font-family: 'century gothic',sans-serif;
}
.search-field{
    height: 89%;
    max-width: 80%;
    padding-left: 5px;
    border-radius: 10px;
    outline: none;
    border: none;
}
.profile{
    width: 30%;
    height: 90%;
    margin-left: auto;
    margin-right: 50px;
    margin-top: auto;
    margin-bottom: auto;
}
.notification{
    width: 25px;
    height: 25px;
    margin-top: auto;
    margin-bottom: auto;
    margin-left: auto;
    margin-right: 30px;
    cursor: pointer;
}
.profile-pic{
    height: 33px;
    min-width: 33px;
    max-width: 40px;
    margin-left: 10px;
    border-radius: 35%;
    margin-top: 1px;
    padding: 2px;
    cursor: pointer;
}
.pic-holder{
    border-radius: 35%;
    overflow: hidden;
}
.status-indicator{
    width: 7px;
    height: 7px;
    border-radius: 50%;
    position: absolute;
    bottom: 0px;
    right: -4px;
}
.profile-names{
    margin-left: 15px;
    width: auto;
}
#name, #name1{
    height: 60%;
    padding-top: 3px;
    white-space: nowrap;
    font-family: 'poppins',sans-serif;
}
#role, #role1{
    height: 40%;
    margin-top: -4px;
    font-weight: lighter;
    font-size: x-small;
}

.expand-profile{
    width: 30px;
    height: 80%;
    margin-left: 10px;
    margin-top: 3px;
    display: flex;
    cursor: pointer;
}
/* .expand-profile:hover .expand{
    display: flex;
} */
.expand, .notification-expand{
    width: auto;
    min-width: 50px;
    min-height: 50px;
    height: auto;
    border-radius: 10px;
    top: 45px;
    right: -10px;
    overflow: hidden;
    z-index: 1;
    padding-left: 10px;
    padding-right: 15px;
    padding-top: 2px;
    display: none;
}
.logout-btn{
    width: 20%;
    height: 30px;
    min-width: 30px;
    margin-top: 9px;
    cursor: pointer;
}
.names{
    width: auto;
    display: none;
}
.notif-title{
    height: auto;
    width: auto;
    min-width: 200px;
    text-align: left;
    margin-top: 10px;
    padding-bottom: 5px;
}
.notif-cont{
    height: auto;
    min-height: 50px;
    width: auto;
    min-width: 200px;
    text-align: left;
    padding-left: 5px;
    margin-top: 5px;
}

/* main */

.tiles{
    padding-left: 30px;
    padding-right: 30px;
    padding-top: 30px;
    padding-bottom: 10px;
    display: flex;
    flex-direction: row;
    flex-wrap: wrap;
    justify-content: space-between;
    align-items: center;
    height: auto;
}
.tile-limiter{
    width: 48%;
    display: flex;
    flex-direction: row;
    flex-wrap: wrap;
    justify-content: space-between;
    align-items: center;
    margin: auto;
}
.tile{
    width: 45%;
    height: 130px;
    border-radius: 15px;
    margin-bottom: 30px;
    box-shadow: rgba(17, 12, 46, 0.055) 0px 5px 30px 0px;
}
.tile-in-1{
    height: 65%;

}
.tile-in-2{
    height: 30%;

}
.tile-left{
    width: 30%;
    margin-top: 4%;
}
.tile-right{
    width: 65%;
    margin-left: 10px;
}
.tile-bottom-text{
    margin-left: 20%;
    padding-left: 5%;
    padding-top: 10px;
    font-size: small;
}
.tile-circle{
    background-color: rgb(158, 158, 255);
    height: 35px;
    width: 35px;
    border-radius: 50%;
    overflow: hidden;
    padding: 7px;
}
.tile-title-1, .tile-title-2{
    font-family: 'poppins',sans-serif;
    
}
.tile-title-1{
    margin-top: 7%;
    font-size: 13px;
}
.tile-title-2{
    font-size: x-large;
    font-weight: bold;
}
.notification-cont{
    width: 100%;
    min-height: 40px;
    margin-top: 5px;
}


















/* media querries */






/* mobile devices
@media screen and (max-width:450px){
    .leftnav{
        display: none;
    }
    .main{
        width: 100%;
    }
    .head-nav{
        width: 100%;
        height: 73px;
    }
} */

@media screen and (max-width:950px){
    /* .leftnav{
        display: none;
    }
    .main{
        width: 100%;
    }
    .head-nav{
        width: 100%;
        height: 73px;
    } */

    .tiles{
        display: block;
    }
    .tile-limiter{
        width: 95%;
        margin: auto;
    }
    .profile{
        width: 50%;
    }
    .tile-bottom-text{
        margin-left: 50%;
    }
    .tile-right{
        margin-left: 0px;
    }

    .leftnav{
        width: 6%;
    }
    .main{
        width: 94%;
    }
    /* .menubtnleft{
        display: none;
    } */
    .nav-item, .nav-item-last{
        width: 40%;
        min-width: 40px;
        padding-right: 0px;
        display: flex;
    }
    .nav-icon{
        margin: auto;        
        max-height: 25px;
        min-width: 25px;
        
    }
    .nav-name{
        display: none;
    }
    .logo-left{
        margin: auto;
    }

}
@media screen and (max-width:630px){
    .leftnav{
        display: none;
    }
    .main{
        width: 100%;
    }
    .head-nav{
        width: 100%;
        height: 73px;
        
    }
    #collapse{
        height: 50%;
    }
    .search{
        height: 55%;
        margin-left: 20px;
    }
    .profile-pic{
        margin: auto;
        margin-left: 10px;
        margin-right: 5px;
    }

   .tile{
    width: 90%;
    margin: auto;
    margin-bottom: 20px;
   }
    .profile{
        width: 50%;
    }
    #names-big{
        display: none;
    }
    #names-small{
        display: block;
    }

}

@media screen and (max-width:500px){
    .search{
        height: 55%;
        margin-left: 20px;
    }

   .tile{
    width: 100%;
    margin: auto;
    margin-bottom: 20px;
   }

}
