
*{
    transition: all ease-in 0.2s !important;
}
:root {
    --primary-color: #ffffff;
    --secondary-color: #ffffff;
    --accent-color: #5065F6;
    --scrollbar-thumb: #5066f69a;
    --activenav:#e0f1ff65;
    --background-color: #FFF8EB;
    --text-color: #3f3f3f;
    --top-svg-color: #bebebee0 ;
    --status-ok: rgb(0, 230, 0);
    --status-not-ok: rgb(230, 65, 0);
    --box-shadow: rgba(149, 157, 165, 0.2) 0px 8px 24px;
}

body,html{
    background-color: var(--background-color);
    color: var(--text-color);
}




.leftnav{
    background-color: var(--secondary-color);
}
.nav-svg-stroke{
    stroke: var(--text-color) !important;
}
.nav-svg-fill{
    fill: var(--text-color) !important;
}

.nav-item{
    transition: all ease-in-out 0.2s !important;
    border: 1px solid var(--secondary-color);
}
.nav-item:hover{
    /* font-weight: bold; */
    cursor: pointer;
    color: var(--accent-color);
    border: 1px solid var(--accent-color);
}
.nav-item-active{
    /* font-weight: bold; */
    background-color: var(--activenav);
    color: var(--accent-color);
    border: 1px solid var(--accent-color);
}
.nav-svg-active{
   stroke: var(--accent-color) !important;
}
.nav-svg-active-fill{
    fill: var(--accent-color) !important;
 }
.nav-item:hover .nav-svg-stroke{
    stroke: var(--accent-color) !important;
}

.head-nav{
    background-color: var(--secondary-color);
    border-left: 2px solid var(--background-color);
    box-shadow: rgba(0, 0, 0, 0.034) 0px 2px 20px 0px;

}

.svg path,
.svg rect,
.svg polyline,
.svg line {
    /* fill: var(--top-svg-color) !important; */
    stroke: var(--top-svg-color) !important;
}

.searchbtn:hover .svg path,
.searchbtn:hover .svg rect,
.searchbtn:hover .svg polyline,
.searchbtn:hover .svg line{
    stroke: var(--accent-color) !important;
}

.menubtnleft:hover .svg path,
.menubtnleft:hover .svg rect,
.menubtnleft:hover .svg polyline,
.menubtnleft:hover .svg line {
    fill: var(--accent-color) !important;
    stroke: var(--accent-color) !important;
}


.archive-svg path,
.archive-svg rect,
.archive-svg polyline,
.archive-svg line {
    fill: var(--top-svg-color) !important;
     }

.collapse:hover .archive-svg path,
.collapse:hover .archive-svg rect,
.collapse:hover .archive-svg polyline,
.collapse:hover .archive-svg line {
    
    fill: var(--text-color) !important;
}

.svgn path,
.svgn rect,
.svgn polyline,
.svgn line {
    /* fill: var(--top-svg-color) !important; */
    fill: var(--top-svg-color) !important;
}
#vector{
    fill: var(--top-svg-color) !important;
}
.notification:hover .svgn path,
.notification:hover .svgn rect,
.notification:hover .svgn polyline,
.notification:hover .svgn line {
    fill: var(--accent-color) !important;
}


.navcont::-webkit-scrollbar-thumb {
    background-color: var(--scrollbar-thumb); 
}
.navcont::-webkit-scrollbar-track{
    background-color: #ffffff00;
}



.search-field{
    color: var(--text-color);
}
.profile-pic{
    /* border: 1px solid var(--text-color); */
    /* box-shadow: var(--box-shadow); */
    border: 2px solid var(--top-svg-color);
}
.profile-pic:hover{
    /* border: 1px solid var(--text-color); */
    /* box-shadow: var(--box-shadow); */
    border: 2px solid var(--accent-color);
}
.status-indicator{
    background-color: var(--top-svg-color);
    border: 2px solid var(--secondary-color);
}

#role, #role1{
    color: #797979;
}
#name, #name1{
    color: var(--text-color);
}

.expand-profile:hover .svg path,
.expand-profile:hover .svg rect,
.expand-profile:hover .svg polyline,
.expand-profile:hover .svg line
{
    
    stroke: var(--accent-color) !important;
}
#pathd3{
    fill: var(--background-color);
}

.expand, #notification-expand{
    box-shadow: var(--box-shadow);
    background-color: var(--secondary-color);
}

#pathd{
    fill: var(--top-svg-color) !important;
}
#pathd1, #pathd2{
    fill: var(--status-ok) !important;
}
.logout-btn:hover #pathd1,
.logout-btn:hover #pathd2
{
    fill: var(--status-not-ok) !important;
}

.notif-title{
    color: var(--accent-color);
    border-bottom: 1px solid var(--top-svg-color);
}
.tile{
    background-color: var(--secondary-color);
}




@media screen and (max-width:500px){
    .head-nav{
        
        border-left: none;
    
    }
}